div {
  font-family: 'Poppins', sans-serif;
}



.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  border-radius: 20px;
}

.title {
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}
