.investments-container {
  margin-top: 50px;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.investments-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.investments-titles-row {
  display: grid;
  grid-template-columns: minmax(50px, 60px) repeat(4, 1fr);
  gap: 10px;
  .title {
    color: #c6c6c6;
    font-weight: 600;
    font-size: 18px;
    padding: 4px 6px;
  }
}

.investments-values-row {
  background-color: rgb(23, 23, 23);
  position: relative;
  display: grid;
  grid-template-columns: minmax(50px, 60px) repeat(4, 1fr);
  span {
    color: #fff;
    padding: 4px 6px;
    background-color: #303030;
  }

  &:nth-of-type(even) {
    & span {
      background-color: #202020;
    }
  }

  &:last-of-type {
    position: sticky;
    bottom: 0;
    z-index: 1;
    & span {
      z-index: 2;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.03);
      border-radius: 30px;
      filter: blur(9px);
      background-color: #929292;
    }
  }
}
